<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stevebrains.sreenivask.iq">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".php_interview_Q"></activity>
        <activity android:name=".Java_Script_i_Q" />
        <activity android:name=".spring_interview_questions" />
        <activity android:name=".About" />
        <activity android:name=".MainActivity" />
        <activity android:name=".QuationsListPage" />
        <activity android:name=".android_app_questions" />
        <activity android:name=".c_questions" />
        <activity android:name=".DataStructures_questions" />
        <activity android:name=".java_questions" />
        <activity android:name=".python_questions" />
        <activity android:name=".linux_questions" />
        <activity android:name=".Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>